{!-- JAVASCRIPT --}
{!-- jQuery --}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>/*<![CDATA[*/!window.jQuery && document.write('<script src="/assets/js/jquery.min.js"><\/script>')/*]]>*/</script>
{!-- jQuery UI --}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
{!-- SWFObject --}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

{!-- NEED API KEY - Google Loader for jQuery, jQueryUI, Google Webfont, SWFObject, etc.--}
{!--
<script type="text/javascript" src="https://www.google.com/jsapi?key=INSERT_API_KEY"></script>
<script>
/*<![CDATA[*/
	google.load("webfont", "1");
	google.load("jquery", "1.5.1");
	google.load("jqueryui", "1.8.10");
	google.load("swfobject", "2.2");
	google.setOnLoadCallback(function() {
		WebFont.load({
			custom: { 
				families: [ 'Family', 'Family2' ]
			},
			typekit:{ 
				id: "KIT ID #" // Kit ID #
			}
		});
	});
/*]]>*/
</script>
--}


{!-- homebrew --}
<script src="/assets/js/plugins.js?v=<?php echo date("YmdHis", filemtime('assets/js/plugins.js')); ?>"></script>
<script src="/assets/js/main.js?v=<?php echo date("YmdHis", filemtime('assets/js/main.js')); ?>"></script>
</body>
</html>